In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import math
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import GridSearchCV

from sklearn.ensemble import GradientBoostingClassifier, ExtraTreesClassifier, RandomForestClassifier 
from sklearn.tree import DecisionTreeClassifier
from sklearn.experimental import enable_hist_gradient_boosting  
from sklearn.ensemble import HistGradientBoostingClassifier
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [9]:
trainGiros = pd.read_csv('./input/trainGirosx.csv', index_col=0)
trainGiros.head(10)

,Weekday of Fecha Referencia,Day of Fecha Referencia,Month of Fecha Referencia,Giros
id,,,,
1,Monday,1,January,1115
2,Monday,1,February,5934
3,Monday,1,April,13417
4,Monday,1,May,2827
5,Monday,1,June,12283
6,Monday,1,July,13910
7,Monday,1,August,6691
8,Monday,1,September,5088
9,Monday,1,October,8693
10,Monday,1,December,5093

In [23]:
testGiros = pd.read_csv('./input/testGirosx.csv', index_col=0)
testGiros.head(10)

,Weekday of Fecha Referencia,Day of Fecha Referencia,Month of Fecha Referencia
id,,,
1,Monday,1,February
2,Monday,1,March
3,Monday,1,June
4,Monday,1,August
5,Monday,1,November
6,Monday,2,February
7,Monday,2,March
8,Monday,2,May
9,Monday,2,August
10,Monday,2,November

## *Shape?*

In [11]:
trainGiros.shape

(2192, 4)

## *Null Values?*

In [12]:
trainGiros.isna().sum()

Weekday of Fecha Referencia    0
Day of Fecha Referencia        0
Month of Fecha Referencia      0
Giros                          0
dtype: int64

## *Type?*

In [13]:
trainGiros.dtypes

Weekday of Fecha Referencia    object
Day of Fecha Referencia         int64
Month of Fecha Referencia      object
Giros                           int64
dtype: object

In [16]:
from src.numeric import numeric

In [17]:
print(trainGiros["Weekday of Fecha Referencia"].unique())
print(trainGiros["Day of Fecha Referencia"].unique())
print(trainGiros["Month of Fecha Referencia"].unique())

['Monday' 'Tuesday' 'Wednesday' 'Thursday' 'Friday' 'Saturday' 'Sunday']
[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24
 25 26 27 28 29 30 31]
['January' 'February' 'April' 'May' 'June' 'July' 'August' 'September'
 'October' 'December' 'March' 'November']

## *Transform all strings to numerical value*

In [18]:
numeric(trainGiros)

In [24]:
numeric(testGiros)

In [19]:
trainGiros

,Weekday of Fecha Referencia,Day of Fecha Referencia,Month of Fecha Referencia,Giros
id,,,,
1,1,1,1,1115
2,1,1,2,5934
3,1,1,4,13417
4,1,1,5,2827
5,1,1,6,12283
...,...,...,...,...
2188,7,31,3,4858
2189,7,31,5,5524
2190,7,31,7,2172
2191,7,31,8,1868
2192,7,31,12,2129

In [21]:
# trainGiros.to_csv('./output/giros_train_numeric.csv')

In [25]:
# testGiros.to_csv('./output/giros_test_numeric.csv')